@import "reset.css";
@import 'aos/dist/aos.css';

@font-face {
  font-family: 'Mazzard M';
  src: url('../fonts/Mazzard/MazzardM-Regular.eot');
  src: local('Mazzard M Regular'), local('MazzardM-Regular'),
  url('../fonts/Mazzard/MazzardM-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mazzard/MazzardM-Regular.woff2') format('woff2'),
  url('../fonts/Mazzard/MazzardM-Regular.woff') format('woff'),
  url('../fonts/Mazzard/MazzardM-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.app {
  font-family: "Mazzard M";
  margin: auto;
  background: #000000;
  opacity: 1;
}

.main-container {
  background-image: url("../img/Background.png");
  background-size: cover;
  padding: 22px 0 162px 0;
}

.header__bottom-arrow {
  width: 34px;
  height: 34px;
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 5px;
  margin-left: 34px;
}

i {
  border: solid #1556EE;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header__mobile-menu {
  display: none;
  cursor: pointer;
}


.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #F3F3F3;
}

.header__nav-button {
  background: linear-gradient(140.6deg, #FFFFFF -27.18%, #DEDEDE 126.06%);
  box-shadow: 0 0 49px rgba(42, 7, 254, 0.4);
  border-radius: 10px;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 170px;
  height: 60px;
  padding: 19px 35px 17px 43px;
}

.header__nav-button-arrow {
  margin-left: 8px;
}

.header__description {
  max-width: 680px;
  font-weight: 600;
  font-size: 96.3878px;
  line-height: 94px;
}

.header__description__crypto {
  font-weight: 600;
  margin: 117px 0 59px 0;
  font-size: 19.2776px;
  line-height: 23px;
  text-transform: uppercase;
  color: #AAAAAA;
}

.header__description-title {
  color: #FFFFFF;
  text-shadow: 0 5.14068px 5.14068px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
}

.header__description-subtitle {
  background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 5.14068px 5.14068px rgba(0, 0, 0, 0.25);
}

.header__description-text {
  max-width: 559px;
  margin-top: 32px;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #E9E9E9;
}

.header__bottom {
  display: flex;
  justify-content: center;
  padding: 94px 0 118px 0;
}

.header__button {
  display: flex;
  align-items: center;
  background: linear-gradient(140.6deg, #3E6FF9 -27.18%, #3E53F8 126.06%);
  box-shadow: 0 0 49px rgba(42, 7, 254, 0.4);
  border-radius: 10px;
  padding: 17px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.content-block1__mouse {
  text-align: center;
  margin-bottom: 143px;
}

.content-block1__title {
  text-align: center;
  margin-bottom: 65px;
}

.content-block1__title-about {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #AAAAAA;
}

.content-block1__title-text {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  margin-top: 21px;
}

.content-block1__content {
  max-width: 1110px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 181px;
}

.content-block1__content-left {
  width: 497px;
  height: 493px;
  background-image: url("../img/Chart.png");
}

.content-block1__content-left__mobile, .content-block2__left-mobile {
  display: none;
}

.content-block1__content-right {
  width: 366px;
  padding-top: 43px;
}

.content-block1__content-stage {
  font-weight: 600;
  font-size: 30px;
  line-height: 43px;
  color: #FFFFFF;
  margin-bottom: 33px;
}

.content-block1__content-description, .content-block1__content-description-bottom {
  width: 308px;
  display: flex;
  gap: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #E9E9E9;
}

.content-block1__content-description-bottom {
  margin: 26px 0 44px 0;
}

.content-block1__content-arrow-blue, .content-block1__content-arrow-red {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid #0A6FFF;
  border-radius: 1px;
}

.content-block1__content-arrow-red {
  border-left: 12px solid #FF2B77;
}

.content-block1__content-right-button {
  width: 205px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 21px 60px;
  background: linear-gradient(140.6deg, #3E6FF9 -27.18%, #3E53F8 126.06%);
  box-shadow: 0 0 49px rgba(42, 7, 254, 0.4);
  border-radius: 10px;
}

.content-block2 {
  margin-top: 188px;
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
}

.content-block2__left {
  width: 716px;
  height: 457px;
  background-image: url("../img/Consumers.png");
  background-size: cover;
}

.content-block2__right {
  width: 340px;
  padding-top: 49px;
}

.content-block2__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.content-block2__gray {
  color: #AAAAAA;
}

.content-block2__gradient {
  background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-block2__subtitle {
  width: 357px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 21px 0;
}

.content-block2__more {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #7B93FF;
}

.content-block3 {
  margin-top: 183px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-block3__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #AAAAAA;
}

.content-block3__spot-margin {
  width: 464px;
  background-image: url("../img/Block-1.png");
  background-repeat: no-repeat;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 46px;
  border: 4px solid #313336;
  padding: 351px 0 37px 30px;
}

.content-block3__spot-margin-subtitle {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  opacity: 0.9;
  margin: 61px 0;
}

.content-block3__spot-margin-subtitle-gradient {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-block3__more {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #AAAAAA;
}

.content-block3__right {
  max-width: 676px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.content-block3__right-title, .content-block3__right-title__block2, .content-block3__right-title__block3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #FFFFFF;
  margin: 66px 0 73px 0;
  width: 244px;
  opacity: 0.9;
}

.content-block3__derivatives, .content-block3__trading-arena {
  width: 320px;
  height: 358px;
  background-image: url("../img/Block-2.png");
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 46px;
  border: 4px solid #313336;
  padding: 30px 0 37px 30px;
}

.content-block3__trading-arena {
  background-image: url("../img/Block-3.png");
}

.content-block1__right-title__block2 {
  width: 215px;
}

.content-block3__mobile-app {
  width: 676px;
  height: 303px;
  background-image: url("../img/Block-4.png");
  padding: 30px 0 30px 27px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 46px;
  border: 4px solid #313336;
}

.content-block3__right-title__block3 {
  width: 312px;
  margin: 61px 0 60px 0;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    z-index: 2;
    top: 36px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 3.7em;
    padding: 1.2em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

@media (max-width: 480px) {
  .main-container {
    background-image: url("../img/Mobile-bg.png");
    background-size: cover;
    padding: 35px 28px 50px 28px;
  }
  .header__nav {
    display: none;
  }
  .header__logo {
    padding-top: 2px;
  }
  .header__mobile-menu {
    display: block;
  }
  .header__nav-button {
    width: 105px;
    height: 0;
    padding: 12px;
  }
  .header__description__crypto {
    margin: 90px 0 16px 0;
    text-align: center;
  }
  .header__description {
    max-width: 351px;
    margin: auto;
    text-align: center;
    font-size: 52px;
    line-height: 61px;
  }
  .header__description-text {
    width: 246px;
    margin: 20px auto 40px auto;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
  .header__bottom {
    margin: 40px 0 418px 0;
    padding: 0;
  }
  .header__button {
    font-size: 15px;
    line-height: 18px;
  }
  .header__bottom-arrow {
    padding-top: 7px;
  }
  .content-block1__title {
    max-width: 336px;
    margin: 0 auto 40px auto;
  }
  .content-block1__mouse {
    display: none;
  }
  .content-block1__title-text {
    font-weight: 600;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    margin-top: 11px;
  }
  .content-block1__content {
    gap: 32px;
  }
  .content-block1__content-left {
    max-width: 424px;
    margin: auto;
    max-height: 410px;
    background-size: cover;
  }
  .content-block1__content-right {
    max-width: 336px;
    padding-top: 0;
  }
  .content-block1__content-stage {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .content-block1__content-description, .content-block1__content-description-bottom {
    width: 296px;
    font-size: 16px;
    line-height: 19px;
  }
  .content-block1__content-description-bottom {
    margin: 32px 0 33px 0;
  }
  .content-block1__content-right-button {
    width: 190px;
    font-size: 16px;
    line-height: 19px;
  }
  .content-block2 {
    max-width: 417px;
    margin: 100px auto 0 auto;
    gap: 49px;
  }
  .content-block2__right {
    order: -1;
  }
  .content-block1__content-left, .content-block2__left {
    display: none;
  }
  .content-block1__content-left__mobile, .content-block2__left-mobile {
    width: 100%;
    height: 100%;
    display: block;
  }
  .content-block1__content-left__mobile-chart, .content-block2__left-mobile__img {
    width: 100%;
  }
  .content-block2__title {
    font-size: 35px;
  }
  .content-block2__subtitle {
    width: 318px;
    margin-top: 30px;
    font-size: 16px;
  }
  .content-block3 {
    margin-top: 100px;
  }
  .content-block3__right {
    display: block;
    width: 100%;
  }
  .content-block3__spot-margin {
    width: 100%;
    height: 476px;
    background-image: url("../img/Block-1-mobile.png");
    background-size: cover;
    border: 2px solid #313336;
    padding: 35px 0 0 27px;
    margin-bottom: 24px;
  }
  .content-block3__spot-margin-subtitle {
    font-size: 32.2759px;
    line-height: 104%;
    letter-spacing: 0.03em;
    margin: 25px 0 26px 0;
  }
  .content-block3__derivatives, .content-block3__trading-arena {
    width: 100%;
    height: 305px;
    background-image: url("../img/Block-2-mobile.png");
    background-size: cover;
    border: 2px solid #313336;
    padding: 25px 0 0 24px;
    margin-bottom: 24px;
  }
  .content-block3__right-title, .content-block3__right-title__block2, .content-block3__right-title__block3 {
    margin: 50px 0 51px 0;
  }
  .content-block3__mobile-app {
    width: 100%;
    height: 426px;
    background-image: url("../img/Block-4-mobile.png");
    background-size: cover;
    border: 2px solid #313336;
    padding: 25px 0 0 24px;
  }


}